@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  color: 	#0f1010;
  background: white;
}

header {
  background: url('/images/carpentry-image-1-low-res.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
background-size: cover;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1f2937 inset !important;
  -webkit-text-fill-color: white !important;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 0px !important;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border-radius: 50%;
  margin: 0px 7px !important;
  opacity: .5 !important;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: white !important; /* Change to the desired color for active dot */
}